@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000008;
  --foreground: #f8f4ff;
}

html, body {
  background-color: #000008;
}

body {
  font-family: var(--font-inter);
  color: var(--foreground);
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant-garamond);
}

.font-mono {
  font-family: var(--font-space-mono);
}

* {
  cursor: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
