@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000008;
  --foreground: #f8f4ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #000008;
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
